<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <title>Desafio Entregable: LOGIN, LOGOUT - Login</title>
</head>
<body>
    <main>
        <div class="formulario">
            <form action="/login" class="form" method="post">
                <legend>INICIAR SESION</legend>
                <div class="form-group">
                    <label for="name">NOMBRE</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Nombre de Usuario" required>
                </div>
                <div class="form-button">
                    <input type="submit" value="ENVIAR →" class="p-1">
                </div>
            </form>
        </div>
    </main>
</body>
</html>