<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
    <script src="/logout.js"></script>
    <title>Desafio Entregable: LOGIN, LOGOUT - Logout</title>
</head>
<body>
    <main>
        <div class="formulario">
            <div class="user">Hasta Luego <%= user.toUpperCase() %></div>
        </div>
    </main>
</body>
</html>